* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mali', cursive;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1605580556856-db8fae94b658?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2MHxibzhqUUtUYUUwWXx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}

.app__container {
  height: 560px;
  width: 480px;
  border-radius: 8px;

  background-color: #3b5998;
}

.app__container > h1 {
  display: flex;
  justify-content: center;
  color: #dfe3ee;
  margin-top: 4%;
}

.input__f{
  height: 36px;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfe3ee;
  margin-top: 4%;
  border-radius: 999px;
  display: flex;
  align-items: center;
  
}

.input__f :focus{
  outline: none;
}

.input__f > .MuiSvgIcon-root{
  color: rgb(68, 67, 67);
  margin: 0px 10px;
 
}

.input__f > input{
  border: none;
  width: 70%;
  height: 25px;
  background-color: transparent;
}

.add__button{
  height: 100%;
  width: 30%;
  background-color: #007FFF;
  border-radius: 999px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

.add__button:disabled{
  background-color: #b8bbc4;
}

.item__container{
  width: 100%;
  height: 400px;
  margin-top: 6%;
  overflow-y:scroll;
  margin-bottom: 15px;
}

